{% extends 'base.html' %}

{% load static %}

{% block static %}
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/galerija.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}
    Pocetna
{% endblock %}


{% block content %}
    <h1 class="pocetna">Galerija</h1>

    <section class="pocetna-galerija">

        {% for slika in slike %}
            <a href="{{ slika.get_absolute_url }}"><img src="{{ slika.image.url }}" alt="slika" class="slika"></a>
        {% endfor %}

    </section>

{% endblock %}