
.pocetna {
    color: sienna;
}

.slika {
    width: 200px;
}

.pocetna-galerija {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    max-width: 500px;
    margin: 2rem auto;
}